---
# tasks file for roles/osp-instance-delete
- name: Fetch Instance Info
  os_server_info:
    cloud: openstack
  register: result

- name: Delete instances because smoke test failed
  os_server:
    cloud: openstack
    name: "{{ item.name }}" 
    state: absent
  with_items: "{{ result.openstack_servers }}"
